@use "variables" as *;
@use "sass:color";

.contact-page {
    max-width: 700px;
    margin: 3rem auto;
    text-align: center;
  
    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 2rem;
  
      input,
      textarea {
        padding: 0.75rem;
        border: 1px solid $border-color;
        border-radius: 4px;
        font-size: 1rem;
      }
  
      button {
        background: $accent-color;
        color: $background-color;
        border: none;
        padding: 0.75rem;
        font-weight: 600;
        border-radius: 4px;
        cursor: pointer;
  
        &:hover {
          background: color.adjust($accent-color, $lightness: -10%);
        }
      }
    }
  }
