@use "variables" as *;

.site-header {
    background: $text-color;
    color: $background-color;
    padding: 1rem 0;
  
    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .logo {
      font-size: 1.5rem;
      font-weight: 700;
      color: $background-color;
      text-decoration: none;
    }
  
    .nav ul {
      list-style: none;
      display: flex;
      gap: 1.5rem;
  
      li a {
        color: $background-color;
        text-decoration: none;
        font-weight: 500;
  
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
  